// 专业稳重（一般）
// base color
$blue: #3A71A8;
$light-blue: #5A9BDB;
$red: #D5657A;
$pink: #E696A5;
$green: #4AB7BD;
$tiffany: #6BCFD5;
$yellow: #FFD166;
$panGreen: #4AB7BD;

// sidebar
$menuText: #C0C9D5;
$menuActiveText: #FFFFFF;
$subMenuActiveText: #409EFF;
$menuBg: #234781;
$menuHover: #1D3A6B;
$subMenuBg: #152B4F;
$subMenuHover: #2D5BA6;

// 左侧菜单栏宽度
$sideBarWidth: 250px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
