// 科技现代：钛银脉冲（好看）
// base color
$blue: #393E7C;
$light-blue: #4A50A0;
$red: #E84C5B;
$pink: #FF7B9C;
$green: #4AB7BD;
$tiffany: #64D2FF;
$yellow: #FFD166;
$panGreen: #4AB7BD;

// sidebar
$menuText: #CCCCCC;
$menuActiveText: #00E5FF;
$subMenuActiveText: #FFFFFF;
$menuBg: #1A1A2E;
$menuHover: #222244;
$subMenuBg: #252545;
$subMenuHover: #393E7C;

// 左侧菜单栏宽度
$sideBarWidth: 250px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
