<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.odboy.devops.dal.mysql.pipeline.PipelineInstanceMapper">
    <update id="updateStatusByInstanceId">
        UPDATE pipeline_instance
        SET `status` = #{status}
        WHERE pipeline_instance_id = #{pipelineInstanceId}
    </update>
    <update id="updateCurrentNodeByInstanceId">
        UPDATE pipeline_instance
        SET `current_node`     = #{code},
            current_node_status=#{status}
        WHERE pipeline_instance_id = #{pipelineInstanceId}
    </update>
</mapper>
