<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.odboy.modules.system.mapper.MenuMapper">
    <select id="findAll" resultType="cn.odboy.model.system.domain.Menu">
        select
        *
        from sys_menu
        <where>
            <if test="criteria.blurry != null and criteria.blurry != ''">
                and (
                title like concat('%',#{criteria.blurry},'%')
                or name like concat('%',#{criteria.blurry},'%')
                or permission like concat('%',#{criteria.blurry},'%')
                )
            </if>
            <if test="criteria.pidIsNull != null">
                and pid is null
            </if>
            <if test="criteria.pid != null">
                and pid = #{criteria.pid}
            </if>
            <if test="criteria.createTime != null and criteria.createTime.size() != 0">
                and create_time between #{criteria.createTime[0]} and #{criteria.createTime[1]}
            </if>
        </where>
        order by menu_sort
    </select>

    <select id="findByRoleIdsAndTypeNot" resultType="cn.odboy.model.system.domain.Menu">
        SELECT m.* FROM sys_menu m, sys_roles_menus r
        WHERE m.menu_id = r.menu_id AND r.role_id IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        AND type != #{type}
        order by m.menu_sort
    </select>

    <select id="findByPidOrderByMenuSort" resultType="cn.odboy.model.system.domain.Menu">
        SELECT
       *
        from sys_menu
        WHERE pid = #{pid}
        ORDER BY menu_sort
    </select>

    <select id="findByPidIsNullOrderByMenuSort" resultType="cn.odboy.model.system.domain.Menu">
        SELECT *
        from sys_menu
        where pid is null
        order by menu_sort
    </select>
</mapper>